<div class="images_section">
  <h3 class="sectionhead Ecoloop" routerLink="/">
    <button class="legacybutton">
      <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;Back
    </button>
  </h3>

  <div class="images_outer_container">
      <!--START "Portfolio"-Container-->
      <a name="portfolio"></a>
      <section class="portfolio-container">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed   diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <div class="portfolio-content">
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://osboston.files.wordpress.com/2016/05/portfolio.jpg?w=1200" gallery-full-image="https://osboston.files.wordpress.com/2016/05/portfolio.jpg?w=1200" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
          <img  class="gallery-item" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" gallery-full-image="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ce534d34874705.56e0ce3f15930.jpg" alt="Logo-Design für die Firma xy"/>
        </div>
        <div class="gallery-lightbox">
          <div class="gallery-content">
            <button class="gallery-button-close">+</button>
            <button class="gallery-button-previous">&lt;</button>
            <button class="gallery-button-next">&gt;</button>
            <ol class="gallery-navigation"></ol>
          </div>
        </div>
        <div class="section-number">
          <p>0<span>2</span></p>
        </div>
      </section>
      <!--END "Portfolio"-Container-->

  </div>
</div>
