<div class="footerline">
    <div class="footerCopyRight">
      <p class="universal">&copy;Ecoloop,Inc.</p>
    </div>

    <div class="footerMedia">
      <div>
        <p class="universal">Facebook</p>
      </div>
      <div>
        <p class="universal">Linkedin</p>
      </div>
      <div>
        <p class="universal">Twitter</p>
      </div>
      <div>
        <p class="universal">Instagram</p>
      </div>
      <div>
        <p class="universal">
          <a class="color" href="#about">
            About
          </a>
        </p>
      </div>
    </div>
  </div>