.about {
    margin: 5% auto;
    margin-top: 0;
  }
  .sectionhead {
    font-weight: bolder;
    font-size: 20px;
  }
  h2 {
    font-weight: 700;
    font-size: 26px;
    padding: 1% 0;
    text-align: center;
    margin: 1% auto;
    font-size: 32px;
  }
  .section_desc{
    text-align: justify;
    font-weight: 550;
 
    font-size: 18px;
  }
  .section_details{
    font-size: 20px;
  }
  .section_details,.p_head{
    color: black;
    font-weight: 700;
    margin-top: 15px;
  }
  .p_head{
    margin: 10px 0;
    font-weight: bold;
  }
  ul>li{
list-style:none;
padding: 5px 20px;
  }
  .p_detail{
    margin-top: 15px;
  }