<div class="about" id="about">
    <h3 class="sectionhead Ecoloop">About US</h3>
    <h2>Co-creating Bussiness Transformation with Our Clients is in our <span class="Ecoloop">DNA</span></h2>
    <div class="section_desc">
        At <span>Ecoloop</span> we are a dynamic and forward-thinking Tech startup specializing in engineering and
        development focused
        in enhancing Quality of Life with <span>Ideas to Innovations</span> as our driving force. Our team of seasoned
        professionals
        brings a wealth of experience in electrical and electronics, with a primary focus on IoT and image processing.
        Our mission is
        to bring positive change to industry, medical health services, building automation, and energy conservation, we
        offer
        cutting-edge solutions tailored to specific needs.
    </div>
    <div class="section_details">
        <p class="p_head">We're Best in</p>
        <ul>
            <li>Harnessing the Power of IoT and Image Processing</li>
            <li>Driving Transformation in Industries</li>
            <li>Enhancing Medical Health Services</li>
            <li>Empowering Smart Buildings</li>
            <li>Promoting Sustainable Practices</li>
            <li>Innovation and Reliability</li>
        </ul>

        <p class="p_detail">Experience the Ecoloop Advantage: Discover how Ecoloop's transformative technologies can revolutionize your industry, improve healthcare services, automate your buildings, and drive sustainable practices.</p>
    </div>
</div>